---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html%}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="national_origin" title="Top Nations" btn-color="info" max=10 %}

    {% include index/featured-terms.html field="eyes" title="Top Eye Color" btn-color="outline-secondary" featured=site.data.theme.featured-locations max=6 %}

    {% include index/featured-terms.html field="hair" title="Top Hair Color" btn-color="outline-secondary" max=6 %}
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>