---
layout: page
custom-foot: js/timeline-js.html
---
{%- assign items = site.data[site.metadata] -%}
{%- capture uniqueYears -%}
1898;1899;1900;1901;1902;1903;1904;1905;1906;1907;1908;1909;1910;1911;1912;1913;1914;1915;1916;1917;1918;1919;1920;1921;1922;1923;1924;1925
{% endcapture %}
{%- assign uniqueYears = uniqueYears | split: ";" -%}
{%- capture navYears -%}
1898;1899;1900;1901;1902;1903;1904;1905;1906;1907;1908;1909;1910;1911;1912;1913;1914;1915;1916;1917;1918;1919;1920;1921;1922;1923;1924;1925
{% endcapture %}
{%- assign navYears = navYears | split: ";" -%}


<div class="dropdown float-right" id="year-nav">
    <button class="btn btn-info dropdown-toggle" type="button" id="yearButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Year
    </button>
    <div class="dropdown-menu" aria-labelledby="yearButton">
        {% for y in navYears %}
        <a class="dropdown-item" href="#{{ y }}">{{ y }}</a>{% endfor %}
    </div>
</div>

{{ content }}

<h3><a href="#{{ uniqueYears | first }}">{{ uniqueYears | first }}</a> to <a href="#{{ uniqueYears | last }}">{{ uniqueYears | last }}</a></h3>

<table id="timeline" class="table table-striped">
    {% for year in uniqueYears %}
    <tr id="{{ year }}">
        <th>
            <h3>{{ year }}</h3>
        </th>
        <td>
            <div class="row">
                {%- assign inYear = items | where_exp: 'item', 'item.date contains year'| sort: 'national_origin' -%}
                {% for item in inYear %}
                {% unless item.date contains '1900-'%}
                {% if forloop.first %}<h5 class="mb-3 w-100">{{inYear.size}} employed in {{ year }}</h5><br/>{%endif%}
                    <a href="{{ '/items/' | append: item.objectid | append: '.html' | relative_url }}" class="p-0 border text-center m-0">
                    <img src="{{ item.national_origin | remove: ' ' | prepend: '/assets/flags/' | append: '.svg' | relative_url }}" style="width:40px;height:30px;" data-toggle="tooltip"  data-placement="bottom" title="{{item.title}} | {{item.national_origin}} | {{item.date}}"/>

                    </a>
                
                {% endunless %}
                {% endfor %}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
